<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>MONTHLY UPDATE</h1>
    <p>Here is the monthly update on your property, there are no new complaints</p>
  </body>
</html>