<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>BIN#<%= @bin %> have a new complaint!</h1>
    <p>You have a new complaint on your property. </p>
    <p>Click the link to view your new complaint :<br/>
    <%= link_to "#{@url}", @url %></p>
    <p>Please contact us to get this resolved as soon as possible.</p>
  </body>
</html>